* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Edu Tas Beginner", sans-serif;
}

/* HEADER */

header {
    background-image: url(../img/wall.png);
    height: 80px;
}

h1 {
    text-align: center;
    font-size: bold;
    font-size: 40px;
    line-height: 80px;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    background-image: url(../img/cork.png);
}

.containerCard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 70%;
    position: relative;
}

/* parte immagine della card */

.card {
    width: 30%;
    background-color: white;
    padding: 10px;
    margin: 20px 0;
    position: relative;
}

figure img {
    width: 100%;
    cursor: pointer;
}

.pin {
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
}

.pin img {
    width: 18px;
}

/* parte testo della card */

.date {
    font-family: "Sometype Mono", monospace;
    color: #828484;
    font-size: 12px;
}

/* parte hover immagine */

.card:hover {
    transform: rotate(35deg);    
    z-index: 1800;
}

.card:hover .pin {
    display: none;
}

/* parte apertura immagine in fullscreen */

.fullScreen {
    display: none;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

.fullScreen img {
    max-width: 40%;
    padding: 30px 0;
}

#closeButton {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px 0;
    padding: 10px;
    cursor: pointer;
}

/*************************************************
    TABLET VERSION
 *************************************************/

@media screen and (max-width: 768px) {

    .card {
        width: 48%;
    }


}


/*************************************************
    MOBILE VERSION
 *************************************************/


@media screen and (max-width: 480px) {

    .card {
        width: 95%;
    }

}